@import "@/assets/styles/abstract/_all";

.wrapper {
    .separator {
        height: 1px;
        border: none;
        background-color: rgb($color: $color-primary, $alpha: 16%);
        margin: 24px 0;
    }
}

.title {
    font-weight: $fw-extra-light;
    font-size: $fs-xl;
}

.buttonWrapper {
    display: flex;
    justify-content: flex-end;
}

.button {
    font-weight: $fw-medium;
    font-size: $fs-md;
    line-height: $lh-md;
    color: $color-dark;
    background-color: $color-primary;
    transition: background-color 0.4s ease-in-out;
    padding: 8px 16px;

    &:hover {
        background-color: rgb($color: $color-primary, $alpha: 80%);
    }
}
