// Font family
$ff-primary: "Lexend", sans-serif;

// Font weights
$fw-extra-light: 200;
$fw-light: 300;
$fw-regular: normal;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;
$fw-black: 900;

// Font sizes
$fs-xxl: 40px;
$fs-xl: 32px;
$fs-lg: 24px;
$fs-md: 20px;
$fs-sm: 16px;
$fs-xs: 14px;

// Line heights
$lh-xxl: 2.5;
$lh-xl: 2;
$lh-lg: 1.43;
$lh-md: 1.25;
$lh-normal: normal;

// Border
$border: 1px solid $color-event-meeting-bg;
