$ui-index-1: 10; // For elements in the general flow
$ui-index-2: 20; // For elements in the general flow
$ui-index-3: 30; // For masks
$ui-index-4: 40; // For header
$ui-index-5: 50; // For modals
$ui-index-6: 60; // For elements that overlap everything
