@import "@/assets/styles/abstract/_all";

.date {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .tooltip {
        width: 360px;
        height: auto;
        background-color: $color-dark;
        box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.4);
        border-radius: 0;
        z-index: $ui-index-6;
        padding: 24px;
    }
}

.dateButton {
    display: block;
    width: 100%;
    height: 100%;
    font-family: $ff-primary;
    font-weight: $fw-light;
    border: none;
    background-color: transparent;
    color: $color-light;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    padding-inline: 8px;

    &:hover {
        color: rgba($color: $color-primary, $alpha: 80%);
    }

    &:disabled {
        cursor: auto;
    }

    &.past {
        color: $color-gray;
    }
}
