@import "@/assets/styles/abstract/_all";

.list {
    display: flex;
    gap: 58px;

    &.header {
        gap: 24px;

        @include media-breakpoint-up(md) {
            gap: 80px;
        }
    }
}

.link {
    font-size: $fs-sm;
    font-weight: $fw-extra-light;
    transition: color 0.2s ease-in-out;

    &:hover {
        color: $color-primary;
    }

    &.header {
        font-size: $fs-md;
        padding: 24px 0;

        &.active {
            text-decoration: underline;
            text-underline-offset: 26px;
            text-decoration-thickness: 1px;
            text-decoration-color: $color-primary;
        }
    }
}
